.sonner-fade {
  gap: 10px !important;
  position: relative !important;
  width: 100% !important;
}

.sonner-fade button {
  background-color: white !important;
  border: 1px solid #e0e0e0 !important;
  &:hover {
    background-color: white !important;
    border: 1px solid #e0e0e0 !important;
  }
}
